[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = "*"
iexfinance = "*"
zipline = "==1.3.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.6"
