[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = ">=0.37"
iexfinance = ">=0.4.1"
zipline = "==1.3.0"
numpy = "==1.16.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.6"
